
<div id="article"></div>

<div id="tools">
  <%= link_to_remote (image_tag("icons/symbol_addition.gif", :alt => I18n.t('txt.article.add'), :title => I18n.t('txt.article.add')), :url => new_article_path) %>
</div>