body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  text-decoration: none;
}

img {border: none;}

h1 {
  font-size: 4em;
  line-height: 0px;
}

#page {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 100px;
  width: 100%;
  border: 1px dashed #999;
  text-align: center;
  font-family: "Times New Roman", serif;
}

#content {
  min-height: 250px;
}

#article {min-height: 100px;}

#tools {float: right;}

#footer {
  height: 50px;
  width:100%;
  border: 1px dashed #999;
}