body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  text-decoration: none;
  background-color: #aaaaaa;
}

img {border: none;}

h1 {
  font-size: 4em;
}

#page {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#header {
  height: 100px;
  width: 100%;
  border-bottom: 1px dashed #999;
  text-align: center;
}

#content {
  min-height: 250px;
  padding: 20px;
}

#article {min-height: 100px;}

#tools {float: right;}

#footer {
  height: 50px;
  width:100%;
  border-top: 1px dashed #999;
}